* {
 box-sizing: border-box;
}
html,body {
  scroll-behavior: smooth;
  font-family:'Ubuntu', sans-serif;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  
}
body{
background-color:red;
}



.navbar {
background-color: gray;
 width: 100%;
 

 }
 a{
  color:#ffffff;
 }
 #changetext{
  color:#ffffff;
  margin-top: 20px;
 }
#about h3{
color:#22BFA0;
}
#text{
color:#ffffff;
}
.rounded-circle{
margin-left:26.125rem;
}
#move{
margin-top: 50px;
}
#logo{
margin-right:43.75rem;
}
.card-img-top{
margin-left: 3.125rem;
}
#projects{
margin: auto 0;
}
.centered {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color:#ffffff;
 font-size: 250px;
 }
 span{
  color:#ffffff;
  margin: 5px 5px;
 }
.crd{
width:5.625rem;
height:5rem;
background: #ffffff;
border:3px solid #22BFA0;
margin:auto 0;
}
#profilepic{
margin: 0.5rem 12.5rem;
}

.navbar-toggler{
  background: #22BFA0;
}
.navbar-toggler div{
width:35px;
height:3px;
background-color:#22BFA0;
margin:3px 0;
 }
 .nav-link:hover {
color:#22BFA0;
}

#projecttext{
text-align: center;
color:#22BFA0;
margin: 2.5rem 1.25rem;
}

.card{
 box-shadow: 3px 3px 3px 3px #888888;
}
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#footerimg:hover{
color:#22BFA0;
}
.footertext{
color:#ffffff;
font-size:0.938em;
font-weight: bold;
text-align: center;
}
.fa-envelope{
margin-left:2.5rem;
}
.fa-phone{
margin-left:2.5rem;
}
#imgs{
width:50px;
margin: 30px;
}

i{
width:200px;
}
.nav-link{
color:#ffffff;
float:right;
}
footer{
background: grey;
min-height:26rem;
}

.card{
width:12.5rem;
}
.flip-cards {
    background-color: transparent;
    width: 18.75rem;
    height:12.5rem;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  }
  
  .flip-cards-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
 
  .flip-cards:hover .flip-cards-inner {
    transform: rotateY(180deg);
  }
  
  
  .flip-cards-front, .flip-cards-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  
  .flip-cards-front {
    background-color: #bbb;
    color: black;
  }
  
  
  .flip-cards-back {
    background-color:#22BFA0;
    color: white;
    transform: rotateY(180deg);
  }
  @media only screen and (max-width: 425px) {
    .centered{
      top:50%;
      }
    .rounded-circle{
      margin-left:8.125rem;
      }
     
      #imgs{
       margin: 20px 160px;
        }

      .bout{
        margin-left: 65px;
      }
      .projects{
        margin: 20px 40px;
      }
      #projecttext{
        margin-left:5px ;
      }

      .footertext{
        color:#ffffff;
        font-size:0.9em;
        margin:0 auto;
        font-weight: bold;
        text-align: center;
        }
        .icons{
        margin:20px 150px;
        }
        .ico{
          margin:20px 100px;
          }
}